body {
  font-family: "Poppins", serif;
}

nav {
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}

nav a {
  font-size: 14px;
}

a {
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  color: black;
}

a:hover {
  color: #b8b8b8;
}

.logo {
  font-size: 32px;
  font-weight: 500;
}

.pink {
  color: #d34692;
}

.login {
  border: 2px solid #d34692;
  padding: 10px 20px;
  border-radius: 20px;
}

.leading {
  margin-top: 80px;
  text-align: center;
}

.leading h1 {
  font-size: 42px;
}

.leading p {
  width: 40%;
  margin: 30px auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.leading a {
  background: #d34692;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
}
